<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>
        <div class="container my-5">
            <div class="alert alert-danger text-center">
                <h2><i class="fas fa-ban"></i> [[#{e403.titulo}]]</h2>
                <p class="lead">[[#{e403.texto}]]</p>
                <a th:href="@{/}" class="btn btn-primary">[[#{accion.regresar}]]</a>
            </div>
        </div>
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>

